In [31]:
# Dependencies
import pandas as pd
import numpy as np

In [32]:
# Read Original CSV files
measurements_df = pd.read_csv('hawaii_measurements.csv')
stations_df = pd.read_csv('hawaii_stations.csv')

In [33]:
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [34]:
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [48]:
measurements_df[pd.isnull(measurements_df).any(axis=1)].head()

        station        date  prcp  tobs
4   USC00519397  2010-01-06   NaN    73
26  USC00519397  2010-01-30   NaN    70
29  USC00519397  2010-02-03   NaN    67
43  USC00519397  2010-02-19   NaN    63
61  USC00519397  2010-03-11   NaN    73

In [36]:
stations_df[pd.isnull(stations_df).any(axis=1)]

Empty DataFrame
Columns: [station, name, latitude, longitude, elevation]
Index: []

In [46]:
# Clean out the measurements dataframe and export to CSV
clean_measurements = measurements_df.dropna()
clean_measurements.head()

clean_measurements.to_csv("clean_measurements.csv", index = False)

In [47]:
# Clean out the stations dataframe and export to CSV
clean_stations = stations_df.dropna()
clean_stations.head()

clean_stations.to_csv("clean_stations.csv", index = False)